<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>LoginPage</title>
</head>
<body>
<center>
<h1 align="center">회원 가입</h1>
<br>
<h1 align="center">홈트레이닝 경험</h1>
<br>
         <tr>
            <td><input type="checkbox" name="interests" value="pt"> 필라테스</td>
            <td><input type="checkbox" name="interests" value="health"> 요가</td>
            <td><input type="checkbox" name="interests" value="climbing"> 헬스</td>
            <td><input type="checkbox" name="interests" value="etc"> 기타</td>
            <td colspan="3">
            <input type="text" colspan="2" placeholder="":)">
           </tr>
           
           <br>
           <h1 align="center">운동 목적</h1>
           <tr>
            <td><input type="checkbox" name="interests" value="pt">다이어트</td>
            <td><input type="checkbox" name="interests" value="health"> 체력증진</td>
            <td><input type="checkbox" name="interests" value="climbing"> 근육증가</td>
            <td><input type="checkbox" name="interests" value="etc"> 기타</td>
            <td colspan="3">
            <input type="text" colspan="2" placeholder="":)">
           </tr>
           <br>
           <h1 align="center">다이어트 기간</h1>
           <tr>
            <td><input type="checkbox" name="interests" value="pt">1주</td>
            <td><input type="checkbox" name="interests" value="health"> 2주</td>
            <td><input type="checkbox" name="interests" value="climbing"> 3주</td>
            <td><input type="checkbox" name="interests" value="climbing"> 4주</td>
            <td><input type="checkbox" name="interests" value="climbing"> 5주</td>
            <td><input type="checkbox" name="interests" value="climbing"> 6주</td>
            <td><input type="checkbox" name="interests" value="climbing"> 7주</td>
            <td><input type="checkbox" name="interests" value="climbing"> 8주</td>
            <td><input type="checkbox" name="interests" value="etc"> 기타</td>
            <td colspan="3">
            <input type="text" colspan="2" placeholder="":)">
           </tr>
           <br>
           <h1 align="center">주 운동 횟수</h1>
           <tr>
            <td><input type="checkbox" name="interests" value="pt">주 1~2회</td>
            <td><input type="checkbox" name="interests" value="health"> 주 3회 이상</td>
            <td><input type="checkbox" name="interests" value="etc"> 기타</td>
            <td colspan="3">
            <input type="text" colspan="2" placeholder="":)">
           </tr>
           <br>
           <h1 align="center">회원 관심사</h1>  
           <tr>
            <td><input type="checkbox" name="interests" value="pt"> 운동 관련 추천</td>
            <td><input type="checkbox" name="interests" value="health"> 음식 관련 추천</td>
            <td><input type="checkbox" name="interests" value="pt"> 의류 용품 추천</td>
            <td><input type="checkbox" name="interests" value="etc"> 기타</td>
            <td colspan="3">
            <input type="text" colspan="2" placeholder="":)">
           </tr>
         </table>
         <br>
<a href="./enrollPage3.html">Next ></a>
</body>
</html>